

.error,
.error small {
    color: #f44336 !important;
    text-align: left !important;
    font-size: 15px !important;
}

.required {
    color: #f44336 !important;
}

.loading-cntant {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    text-align: center;
    display: table;
    background: url(../images/loader.png) no-repeat center center rgba(255, 255, 255, 0.9);
    z-index: 999999;
    left: 0;
}

.loader {
    margin: auto;
    font-size: 10px;
    position: absolute;
    border-top: 8px solid #0E4126;
    border-right: 8px solid #0E4126;
    border-bottom: 8px solid #0E4126;
    border-left: 8px solid #CFBE14;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    display: table-cell;
    vertical-align: middle;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 130px;
    height: 130px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.login-box .main-box .visibility-icon, .login-box .main-box .visibility-cicon{position: absolute; right: 0; top: 28px; z-index: 2;}
.noty_text, .error{font-size: 14px; font-family: 'Open Sans', sans-serif;}
.login-box .main-box h1.forgot-pass{font-size: 30px;}
.intl-tel-input { display: block !important; width: 100%;}
.error_message{color:#FE0000;}

#customerSignUpForm .select2-container--default .select2-selection--single{border:0; border-bottom:1px solid #666666; border-radius:0px; height:34px;}
#customerSignUpForm .select2-container .select2-selection--single .select2-selection__rendered{padding:0;}
#updateProfileForm .select2-container--default .select2-selection--single{border:0; border-bottom:1px solid #666666; border-radius:0px; height:34px;}
#updateProfileForm .select2-container .select2-selection--single .select2-selection__rendered{padding:0;}
#addRecipientForm .select2-container--default .select2-selection--single{border:0; border-bottom:1px solid #666666; border-radius:0px; height:34px;}
#addRecipientForm .select2-container .select2-selection--single .select2-selection__rendered{padding:0;width: 100%;}
#editRecipientForm .select2-container--default .select2-selection--single{border:0; border-bottom:1px solid #666666; border-radius:0px; height:34px;}
#editRecipientForm .select2-container .select2-selection--single .select2-selection__rendered{padding:0;width: 100%;}

.select2-dropdown{ z-index: 1100;}
.no-banner-head-margin .banner-head{margin-top:0;}
.hideMe{display: none;}
.bootbox-close-button.close {display: none;}
.javascript_disabled{text-align: center; background: #FF0000; color: #FFF; padding: 10px 0px; margin: 0;}
.login.btn-primary{text-transform: uppercase;}
.beneficiary-popup .modal-dialog.modal-dialog-centered {max-width: 800px;}
.beneficiary-popup.change_password .modal-dialog.modal-dialog-centered {max-width: 450px;}
.modal{z-index:10000;}
.select2-container{ width: 100% !important; z-index:11000;}
.money-transfer-accordian .select2-container{ width: 100% !important; z-index:10000;}
.select2-container--default .select2-selection--single{background-color:unset;}
.beneficiary-popup .signup-box .main-box{max-width: 100%;}

.beneficiary-popup .signup-form .form-input {
    margin-bottom: 15px;
}
.custom_pagination .page-item.active .page-link{
    background-color: #0E4126;
    border-color: #0E4126;
    color: #fff;
}
.custom_pagination .page-item.active .page-link:hover{
    color: #0E4126;
    background-color: #5dc5192e;
}
.custom_pagination .page-item .page-link{
    color: #0E4126;
}
.custom_pagination .page-item .page-link:hover{
    background-color: #5dc5192e;
}
.custom_pagination .page-item.disabled{
    opacity: .5;
}
.modal.change_password {
    z-index: 99999;
}

.upload-photo-action:hover {
    background-color: #0E4126;
    border: 1px solid #0E4126;
    color: #fff;
}
.upload-photo-action_1:hover {
    background-color: #0E4126;
    border: 1px solid #0E4126;
    color: #fff;
}
.upload-photo-action_2:hover {
    background-color: #0E4126;
    border: 1px solid #0E4126;
    color: #fff;
}
.edit-profile-form small.help-block {
    color: #f44336 !important;
    text-align: left !important;
    font-size: 15px !important;
}


.careers-details h2{font-size:23px;font-family:"proxima_nova_rgregular";font-size:23px;color:#368900;margin-top:35px;text-align:center;}
.position p{text-align:center;}
.PsDetailBox{text-align:left;padding:20px 0 22px 20px;background-color:#fff;border:1px solid #cacaca;margin:0 0 20px;}
.PsDetailBox h2{color:#368900;text-align:left;margin:0px;}
.PsDetailBox p{text-align:left;padding-bottom:0;}
.PsDetailBox .detail{margin-bottom:20px;}
.PsDetailBox .detail p{max-width:300px;margin:0px;padding:0px;}
.PsDetailBox .detail > li{color:#363636;display:inline-block;font-family:"proxima_nova_rgregular";font-size:16px;margin:0 82px 0 0;padding:0;vertical-align:top;}
.PsDetailBox .detail h3{color:#363636;font-family:"proxima_nova_rgregular";font-size:16px;margin:30px 0 15px;}
.PsDetailBox .detail > li:last-child{margin-right:0;}
.PsDetailBox .require li{position:relative;padding-left:25px;display:block;}
.PsDetailBox .require li::before{background:rgba(0, 0, 0, 0) url("../images/checks.png") no-repeat scroll 0 0;content:"";height:14px;left:0;margin-left:0;position:absolute;top:5px;width:17px;}



a.downBox{display:inline-block;line-height:50px;min-width:195px;padding:0 30px;color:#000000;font-size:14px;font-family:'proxima_nova_rgbold';text-transform:uppercase;border:1px solid #000;border-radius:5px;text-decoration:none;background:none;transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s;-ms-transition:all 0.8s ease 0s;-o-transition:all 0.8s ease 0s;-webkit-transition:all 0.8s ease 0s;text-align:center;}
a.downBox:hover{border-color:#368900;color:#fff;background:#368900;transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s;-ms-transition:all 0.8s ease 0s;-o-transition:all 0.8s ease 0s;-webkit-transition:all 0.8s ease 0s;}
a.downBox:hover{text-decoration:none;}

.career .contact-us h2 {
    margin: 4px 0 0;
    border-bottom: 1px solid #cacaca;
    padding-bottom: 39px;
    position: relative;
}

.career .contact-us h2 a {
    font-family: "proxima_nova_rgregular";
    color: #368900 !important;
    text-align: center;
}

/* 18-01-2023 */
/* CAREER PAGE */

.career .PsDetailBox h2, .careers-details h2 {
    color: #0E4126;
    text-align: left;
    margin: 0px;
    font-size: 30px;
    font-family: 'brandon_grotesquebold';
    font-weight: 400;
    margin-bottom: 20px;
}
.careers-details h2 {
    text-align: center;
}
.career .PsDetailBox p {
    text-align: left;
    padding-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #666666;
    font-size: 15px;
    line-height: 30px;
}
.career .PsDetailBox .detail {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}
.career .PsDetailBox .detail h3 {
    color: #0E4126;
    font-family: 'brandon_grotesquebold';
    font-size: 20px;
    margin: 15px 0;
    font-weight: 400;
    padding-left: 15px;
}
.career .PsDetailBox .detail > li {
    color: #666666;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0 0px 15px 0;
    width: 25%;
    padding-right: 15px;
    font-weight: 400;
}
.career .PsDetailBox .detail > li .heading_box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.career .PsDetailBox .detail > li .heading_box i{
    font-size: 20px;
}
.career .PsDetailBox .detail > li p{
    color: #666666;
    font-size: 15px;
    margin: 0 0px 15px 0;
    padding-right: 15px;
    font-weight: 400;
}
.career .PsDetailBox{
    padding: 40px;
}
.career .login.btn-primary{
    font-family: 'brandon_grotesquebold';
    background-color: #CFBE14;
    color: #000000;
    border-radius: 5px;
    border: 1px solid #CFBE14;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}
.career .btn-primary:hover{
    background-color: #0E4126;
    color: #fff;
    border: 1px solid #0E4126;
}
.career .contact-us h2 a{
    font-family: 'brandon_grotesquebold';
    color: #0E4126 !important;
    font-size: 30px;
    font-weight: 400;
}
.privacy-policy p{
    color: #666666
}

/* 24-01-2023 */
/* NOTIFICATION PAGE */

.dashboard-header-right{
    display: flex;
    align-items: center;
}

.dashboard-header-right .notification.cstm_notification i{
    color: #FFFFFF;
    font-size: 20px;
    margin-right: 5px;
}
.dashboard-header-right .notification.cstm_notification{
    margin-right: 20px;
    position: relative;
}
.dashboard-header-right .notification.cstm_notification span{
    color: #FFFFFF;
    font-size: 11px;
    border: 1px solid #FFF;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}
.dashboard-header-right .notification.cstm_notification .dropdown-toggle{
    display: flex;
    align-items: center;
}
.dashboard-header-right .notification.cstm_notification .dropdown-toggle::after{
    color: #FFFFFF;
    border-top: 0.4em solid;
    border-right: 0.4em solid transparent;
    border-left: 0.4em solid transparent;
}
.dashboard-header-right .notification.cstm_notification .dropdown-menu{
    width: 400px;
    padding: 20px 23px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 3px 50px #0e412621;
    right: 0 !important;
    max-width: 100%;
    min-width: 400px;
    left: auto !important;
    transform: none !important;
    top: 40px !important;
}
.dashboard-header-right .notification.cstm_notification .dropdown-menu .body{
    max-height: 300px;
    overflow: auto;
}
.dashboard-header-right .notification.cstm_notification .dropdown-menu .notification-header{
    font-size: 24px;
    color: #0E4126;
    font-family: 'brandon_grotesquebold';
    border-bottom: 1px solid #97979736;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.notification.cstm_notification .dropdown-menu .menu{
    padding: 0;
}
.notification.cstm_notification .dropdown-menu .menu h5{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #0E4126;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.notification.cstm_notification .dropdown-menu .menu .menu-info i {
    color: #000000 !important;
    font-size: 12px !important;
    margin-right: 10px;
}
.notification.cstm_notification .dropdown-menu .menu .menu-info p{
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 15px;
    opacity: 0.5;
    border-bottom: 1px solid #97979736;
}
.dashboard-header-right .notification.cstm_notification .dropdown-menu .notification-footer{
    border-top: 1px solid #97979736;
    margin-top: 20px;
    padding-top: 10px;
}
.dashboard-header-right .notification.cstm_notification .dropdown-menu .notification-footer .btn{
    line-height: 19px;
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    padding: 15px 15px 15px 15px;
    background-color: #0E4126;
    border: 1px solid #0E4126;
    display: flex;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
}


/*--notification page--*/


.notification-inner-content ul{
    padding: 0;
}
.notification-inner-content ul .notification-contnet-main{
    display: flex;
    border-bottom: 1px solid #97979736;
    padding: 20px 0px;
}
.notification-inner-content ul .notification-left i{
    color: #0E4126;
    font-size: 15px;
    background: #5dc5192e;
    width: 35px;
    height: 35px;
    border: 1px solid transparent;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notification-inner-content ul .notification-right{
    padding-left: 18px;
}
.notification-inner-content ul .notification-right h3{
    color: #0E4126;
    font-family: 'brandon_grotesquemedium';
    font-weight: 400;
    font-size: 15px;
}
.notification-inner-content ul .notification-right p{
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    opacity: 0.6;
    margin-bottom: 0;
}





@media(max-width:1199px){
    .career .PsDetailBox .detail > li{
        width: 33%;
    }
}
@media(max-width:991px){
    .career .PsDetailBox .detail > li{
        width: 50%;
    }
    .career .PsDetailBox .detail > li p{
        max-width: 250px;
        padding-right: 0;
    }
}

@media(max-width:767px){
    .dashboard-header-right .notification.cstm_notification .dropdown-menu .notification-header {
        font-size: 20px;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    .notification.cstm_notification .dropdown-menu .menu h5 {
        font-size: 14px;
        line-height: 20px;
    }
    .notification.cstm_notification .dropdown-menu .menu .menu-info p {
     padding-bottom: 10px;
    }
    .dashboard-header-right .notification.cstm_notification .dropdown-menu .notification-footer{
        font-size: 20px;
        margin-top: 10px;
        padding-top: 10px;
    }
    .dashboard-header-right .notification.cstm_notification .dropdown-menu .notification-footer .btn {
        line-height: 19px;
        font-size: 15px;
    }
    .dashboard-header-right .notification.cstm_notification .dropdown-menu {
        width: 300px;
        min-width: 300px;
    }
}
@media(max-width:576px){
    .career .PsDetailBox .detail > li{
        width: 100%;
        padding-right: 0;
    }
    .career .PsDetailBox .detail > li p{
        padding: 0;
        margin: 0;
        max-width: 100%;
    }

    .dashboard-header-right .notification.cstm_notification {
        margin-right: 15px;
    }
    .dashboard-header-right .notification.cstm_notification {
         position: initial;
    }
    .dashboard-header-right .notification.cstm_notification .dropdown-menu {
        top: 55px !important;
        right: 0 !important;
       max-width: 100%;
       left: 0 !important;
      top: 65px !important;
       margin: 0 auto !important;
    }
    .dashboard-header .dashboard-header-right .profile-user figure {
        width: 30px;
        height: 30px;
    }
    .dashboard-header-right .notification.cstm_notification i {
        font-size: 16px;
    }
    .dashboard-header-right .notification.cstm_notification .dropdown-toggle::after {
      display: none;
     }
     .dashboard-header .dashboard-header-right .profile-user .dropdown .btn {
        font-size: 14px;
    }


    /*--notification page--*/
    .notification-inner-content ul .notification-left i {
        font-size: 15px;
        width: 30px;
        height: 30px;
    }
    .notification-inner-content ul .notification-right {
        padding-left: 12px;
    }
    .notification-inner-content ul .notification-contnet-main {
        padding: 12px 0px;
    }


}
@media(max-width:440px){
    .dashboard-header .dashboard-header-right .profile-user figure {
        width: 25px;
        height: 25px;
    }
    .dashboard-header-right .notification.cstm_notification i {
        font-size: 14px;
    }
    .dashboard-header .dashboard-header-right .profile-user .dropdown .btn {
        font-size: 0px;
    }

}

/*--21-02-2023--*/
.stripe-card{
    margin-top: 40px;
}
.stripe-card .form-row .form-inner-section{
    position: relative;
    margin-bottom: 25px;
}
.stripe-card .form-row .form-inner-section .form-label{
    font-size: 16px;
    font-family: 'brandon_grotesquebold';
    color: #666666;
    line-height: 16px;
    margin-bottom: 10px;
}
.stripe-card .form-row .form-inner-section .form-control {
    font-size: 14px;
    color: #0E4126;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    border: transparent;
    border-bottom-color: transparent;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid #666666;
    border-radius: 0;
    padding-left: 0;
    text-overflow: ellipsis;
  }
  .stripe-card .form-row .form-inner-section .form-control:focus{
    box-shadow: none;
  }
  .stripe-card .btn{
    padding: 14px 45px;
    margin-top: 25px;
    text-transform: uppercase;
  }
  .stripe-card .btn:hover{
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #000000;
  }
  .stripe-card .form-row .error .alert{
    padding: 0px;
    font-size: 14px;
    font-weight: 400;
    color: #F50707;
    background-color: #fff;
    border: none;
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
  }
  .payid-card{
    margin-top: 40px;
    overflow: hidden;
  }
  .payid-card .payid-table{
    overflow-x: auto;
    white-space: nowrap;
  }
  .payid-card .form-row .form-inner-section{
    position: relative;
    margin-top: 10px;
}
.payid-card .form-row .form-inner-section .form-label{
    font-size: 16px;
    font-family: 'brandon_grotesquebold';
    color: #666666;
    line-height: 16px;
}
.payid-card .form-row .form-inner-section .form-control {
    font-size: 14px;
    color: #0E4126;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    border: transparent;
    border-bottom-color: transparent;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid #666666;
    border-radius: 0;
    padding-left: 0;
    text-overflow: ellipsis;
    resize: none;
    height: 80px;
  }
  .payid-card  .form-row .form-inner-section .form-control:focus{
    box-shadow: none;
  }
  .payid-card  .btn{
    padding: 14px 45px;
    margin-top: 25px;
    text-transform: uppercase;
  }
  .payid-card  .btn:hover{
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #000000;
  }
  .money-transfer-step-4 .step-2-btn {
    text-transform: uppercase;
}
.payid-card  .payid-table .table > thead {
    background: #F1F1F1;
    color: #666666;
    opacity: .50;
    border-top: transparent;
    border-bottom: transparent;
    border-style: inherit;
  }
  .payid-card  .payid-table .table{
    border-top: 0px;
  }
  .payid-card  .payid-table .table th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .payid-card  .payid-table .table th {
    padding: 15px;
    color: #0E4126;
    padding: 20px 14px;
    font-weight: 500;
    border: 0px;
  }
  .payid-card  .payid-table .table th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .payid-card  .payid-table .table th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .payid-card  .payid-table .table tbody tr{
    border-bottom: 1px solid #ddd;
  }
  .payid-card  .payid-table .table td {
    padding: 15px;
    color: #0E4126;
    font-family: 'brandon_grotesquemedium';
    font-weight: 500;
    padding: 20px 14px;
    font-size: 14px;
    border: 0px;
  }

@media(max-width:576px){
    .payid-card .form-row .form-inner-section .form-control {
        height: 60px;
    }
}

/* Chrome, Safari, Edge, Opera */

.form-floating input::-webkit-outer-spin-button,

.form-floating input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }

/* Firefox */

.form-floating input[type=number] { -moz-appearance: textfield; }


/* 24-02-2023 */

.footer-main .support-section ul li a:hover{
    color: #CFBE14;
}
.moneydrop-inner-wrap .left-box h2{
    max-width: 510px;
}
.testimonial-quotes-box .owl-stage{
    display: flex;
}
.testimonial-quotes-box .owl-stage .owl-item{
    display: flex;
}
.testimonial-quotes-box .owl-stage .owl-item .item{
    display: flex;
}
.testimonial-quotes-box .quote-inner-wrap{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.testimonial-quotes-box .quote-inner-wrap p{
    margin-bottom: 20px;
}
.testimonial-quotes-box .quote-inner-wrap h3{
    margin-top: auto;
}
.edit-profile-form .login-box .main-box .form-control::placeholder{
    color: #444;
}
.signup-form .select2-container{
    z-index: initial;
}
.edit-profile-form small.help-block{
    font-family: 'Open Sans', sans-serif;
}
.money-transfer-step-2 .money-add .btn{
    background-color: #CFBE14;
    color: #000;
}
.money-transfer-step-2 .money-add .btn img{
    filter:brightness(0);
}
.money-transfer-step-2 .money-add .btn:hover{
    background-color: #fff;
    color: #CFBE14;
}
.money-transfer-step-2 .money-add .btn:hover img{
    filter:none;
}
.dashboard-section.edit_profile .dashboard-right{
    overflow: initial;
}
.step-3-content .step-3-inner span strong{
    font-size: 400;
}

@media (max-width:1199px){
    .moneydrop-inner-wrap .left-box h2{
        max-width: 390px;
    }
}
@media (max-width:991px){
    .moneydrop-inner-wrap .left-box h2{
        max-width: 100%;
    }
    .exchange-form-box .inner-inputs {
        height: 70px;
    }
    .exchange-form-box .inner-inputs .form-floating input {
        height: 60px;
        font-size: 25px;
    }
}
.intl-tel-input .country-list{
    z-index: 3 !important;
}
.payid_description_message{
    font-size: 12px !important;
    font-style: italic;
    /* font-weight: 800; */
    color: #f44336 !important;
}


/* 10-03-2023 */
.exchange-form-box .inner-inputs .dropdown .btn span{
    text-overflow: ellipsis;
    overflow: hidden;
}
.exchange-form-box .inner-inputs .dropdown .btn{
    font-size: 15px;
    width: 200px;

}
.exchange-form-box .inner-inputs .dropdown-menu.show{
    inset:auto 0px auto auto !important;
    transform: none !important;
    width: 250px;
    overflow-y: scroll;
    max-height: 250px;
    overflow-x: hidden;
}

.transfer-money-step-3 .exchange-form-box .inner-inputs a{ width: 200px;}
.exchange-form-box .inner-inputs .form-floating label{ padding: 12px 15px 22px 12px;}
.exchange-form-box .inner-inputs .form-floating input{font-size:24px;}



/* 11-03-2023 */
.select2-container .select2-selection--single{
    height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 38px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 40px;
}

/* 10-03-2023 */

@media(max-width:1199px){
.exchange-form-box .inner-inputs .dropdown .btn{
    width: 130px;
}
}
@media(max-width:991px){
    .exchange-form-box .inner-inputs {
        height: 120px;
        display: block;
    }
    .exchange-form-box .inner-inputs .dropdown .btn, .transfer-money-step-3 .exchange-form-box .inner-inputs a {
        width: 100%;
    }
    .exchange-form-box .inner-inputs .form-floating input{
        text-align: center;
        padding-top: 32px;
    }
    .exchange-form-box .inner-inputs .form-floating label{
        padding: 5px 15px 15px 12px;
        text-align: center;
    }
}
.payid_div_td{
    display: inline-flex;
}
.payid_div_td button#button1{
    margin: 0px 10px 0px 10px;
    padding: 0px 11px;
}

/* 13-03-2023 */
.exchange-form-box .search-input{
    width: 250px;
    display: none;

}
.exchange-form-box .search-input input{
    width: 100%;
    padding: 4px 10px;
    border: 1px solid #000;
}
.exchange-form-box .inner-inputs .dropdown .btn{
    margin: 0 0 0 auto;
}

/* 14-03-2023 */
.exchange-form-box .inner-inputs .dropdown-menu.show input{
    width: 100%;
    padding: 4px 10px;
    display: block;
}
.exchange-form-box .inner-inputs .dropdown-menu.show .country_input{
    padding: 0 5px;
}

.upload-photo-action_3:hover {
    background-color: #0E4126;
    border: 1px solid #0E4126;
    color: #fff;
}
.upload-photo-action_4:hover {
    background-color: #0E4126;
    border: 1px solid #0E4126;
    color: #fff;
}
.upload-photo-action_5:hover {
    background-color: #0E4126;
    border: 1px solid #0E4126;
    color: #fff;
}

.upload-photo-action_dl:hover {
    background-color: #0E4126;
    border: 1px solid #0E4126;
    color: #fff;
}

.collapseFour_payment{
    margin-bottom: 20px;
}


/* 04-04-2023 */
.transfer-money .error{
    display: inline-block;
}
.transfer-money .step-3-content.coupon_applied li {
    width: 33.33%;
}
.transfer-money .apply_txt{
    display: inline-block;
    margin-bottom: 10px;
}
.refer_a_friend .modal-dialog.modal-dialog-centered {
    max-width: 500px;
}
button.btn.btn-link.waves-effect {
    text-decoration: none;
}
button.btn.btn-link.waves-effect:hover{
    background-color: #0E4126;
    border: 1px solid #0E4126;
    color: #fff;
}

@media(max-width:1199px){
    .step-3-content {
        margin-top: 15px;
    }
}
@media(max-width:991px){
    .transfer-money .step-3-content.coupon_applied li{
        width: 50%;
    }
    .step-3-content {
        margin-top: 15px;
    }
}
@media(max-width:767px){
    .refer_a_friend .modal-dialog.modal-dialog-centered {
        max-width: 100%;
    }
    .transfer-money .step-3-content.coupon_applied .step-3-inner p{
        font-size: 15px;
    }
}
@media(max-width:576px){
    .transfer-money .step-3-content.coupon_applied .step-3-inner p{
        font-size: 15px;
    }
    .transfer-money .step-3-content.coupon_applied li{
        width: 100%;
    }
}

/* 10-04-2023 */
.dashboard-header-right .gift-icon{
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.dashboard-header-right .gift-icon figure{
    margin: 0px;
    vertical-align: top;
}
.dashboard-header-right .gift-icon figure img{
    width: 21px;
    height: 20px;
}
.dashboard-header-right .gift-icon a{
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 1;
}
.dashboard-header-right .gift-icon .gift-text{
    margin-bottom: 0px;
}
.moneydrop-choose-section{
    background-image: url(../images/whychoose-bg2.png);
    min-height: 586px;
    background-position: center;
    background-size: cover;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}
.moneydrop-choose-section::after {
    position: absolute;
    content: " ";
    background: #000;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    z-index: 0;
    opacity: 0.6;
}
.moneydrop-inner-wrap {
    z-index: 1;
}
.moneydrop-inner-wrap .row{
    align-items: center;
}
.moneydrop-inner-wrap .left-box h2{
    color: #FFFFFF;
}
@media(max-width:1200px){
    .moneydrop-choose-section{
        background-position: 40%;
    }
}
@media(max-width:991px){
    .moneydrop-inner-wrap .left-box h2{
        padding-top: 0px;
    }
    .moneydrop-choose-section{
        background-position: 30%;
    }
}

@media(max-width:767px){
    .dashboard-header .dashboard-header-left figure img {
        width: 170px;
    }

    .dashboard-header-right .gift-icon {
        margin-right: 10px;
    }
    .dashboard-header-right .gift-icon a {
        font-size: 14px;
        line-height: 14px;
    }
    .dashboard-header-right .gift-icon figure img {
        width: 20px;
    }
    .dashboard-header .dashboard-header-right .profile-user figure {
        width: 30px;
        height: 30px;
    }
    .dashboard-header .dashboard-header-right .profile-user .dropdown .btn {
        font-size: 14px;
    }
}

@media(max-width:576px){
    .dashboard-header-right .gift-icon .gift-text {
        display: none;
    }
    .dashboard-header-right .gift-icon figure img {
        width: 16px;
    }
    .dashboard-header-right .gift-icon {
        margin-right: 0px;
    }
    .dashboard-header-right .notification.cstm_notification i {
        margin-right: 5px;
    }
    .dashboard-header-right .notification.cstm_notification {
        margin-right: 0px;
    }
}
@media(max-width:460px){
    .dashboard-header .dashboard-header-right .profile-user figure {
        width: 25px;
        height: 25px;
    }
}
@media(max-width:440px){
    .dashboard-header-right .gift-icon a {
        line-height: 10px;
    }
    .dashboard-header-right .gift-icon figure img {
        width: 14px;
    }
    .dashboard-header .dashboard-header-right .profile-user .dropdown .btn {
        font-size: 12px;
    }
    .dashboard-header .dashboard-header-left figure img {
        width: 140px;
    }
}
@media(max-width:360px){
    .dashboard-header .dashboard-header-right .profile-user .dropdown .btn {
        font-size: 11px;
    }
    .dashboard-header .dashboard-header-left figure img {
        width: 120px;
    }
    .dashboard-header .dashboard-header-right .profile-user figure {
        width: 20px;
        height: 20px;
        margin-right: 0px !important;
    }
    .dashboard-header .dashboard-header-right .profile-user .dropdown-toggle::after {
        background-size: 12px;
        width: 12px;
        height: 12px;
        margin-left: 2px;
    }
}

/*--14-04-2023--*/
.moneydrop-inner-wrap ul.our-goal li:nth-of-type(5) .inner-box-start{
    background-color: rgb(0 0 0 / 40%);
    margin-top: 20px;
}
.moneydrop-inner-wrap ul.our-goal li:nth-last-child(2){
    width: 100%;
}
.privacy-policy p a{
    font-size: 15px;
    color: #0E4126;
    font-weight: 600;
}
.privacy-policy span{
    font-size: 15px;
    color: #000;
    font-weight: 600;
}


@media(max-width:991px){
    .moneydrop-inner-wrap ul.our-goal li:nth-of-type(5) .inner-box-start{
        background-color: rgb(0 0 0 / 75%);
    }
}
@media(max-width:430px){
    .moneydrop-inner-wrap ul.our-goal li:nth-of-type(5) .inner-box-start{
        margin-top: 0px;
    }
}



/*--03-05-2023--*/
.transfer-money .apply_txt {
    font-size: 16px;
    color: #000000;
}
.transfer-money .apply_txt a{
    color: #CFBE14;
}
.money-transfer-step-4.transfer-money-step-2 h5{
    color: #000000;
    font-size: 16px;
}
.poli_payment_form .poli_detail h3{
   color: #000;
   font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
.poli_payment_form .poli_detail p{
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.poli_payment_form  .poli-card{
    margin-top: 40px;
}
.poli_payment_form .poli_detail a{
    color: #CFBE14;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.money-transfer-step-4 .step-2-btn .btn{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
.poli_payment_form .payment-four-btn{
    margin-bottom: 20px;
}
.poli_payment_form .poli_detail .btn.continue_payment{
    background-color: #CFBE14;
    color: #000000;
    border-radius: 5px;
    border: 1px solid #CFBE14;
    font-size: 16px;
    padding: 14px 45px;
    font-weight: 600;
    text-transform: uppercase;
}
.poli_payment_form .poli_detail .btn.continue_payment:hover{
    background-color: #fff;
    color: #000000;
    border: 1px solid #000000;
}
a.btn.continue_payment_polipayment {
    text-transform: capitalize !important;
}

.proceed_with_payment {
    text-transform: capitalize !important;
}


@media(max-width:767px){
    .money-transfer-step-4 .step-2-btn .btn{
        padding: 14px 15px;
        font-size: 14px;
    }
    .poli_payment_form .poli_detail .btn.continue_payment {
        font-size: 14px;
        padding: 14px 15px;
    }
}
@media(max-width:460px){
    .money-transfer-step-4 .step-2-btn .btn{
        width: 100%;
    }
    .poli_payment_form .poli-card {
        margin-top: 20px;
    }
    .poli_payment_form .poli_detail h3 {
        font-size: 16px;
    }
    .poli_payment_form .poli_detail p {
      margin-bottom: 10px;
    }
    .poli_payment_form .payment-four-btn {
        margin-bottom: 10px;
    }
}


@media (max-width:767px){
	.poli_payment_form .poli_detail a{display:block;}
}

/*--04-05-2023--*/
.poli_payment_form .poli-card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.poli-card .poli_detail{
    width: 70%;
}
.poli-card  .poli-logo-content{
    width: 30%;
    text-align: right;
}
.poli-card  .poli-logo-content img{
    max-width: 190px;
}

@media (max-width:991px){
    .poli-card .poli-logo-content img {
        max-width: 140px;
    }

}

@media (max-width:767px){
    .poli-card .poli-logo-content img {
        max-width: 110px;
    }
    .poli-card .poli_detail{
        width: 65%;
    }
    .poli-card  .poli-logo-content{
        width: 35%;
    }
}
@media (max-width:576px){
    .poli_payment_form .poli-card {
        flex-direction: column-reverse;
    }
    .poli-card .poli-logo-content {
        width: 100%;
        text-align: left;
        padding-bottom: 20px;
    }
    .poli-card .poli_detail {
        width: 100%;
    }
}




/* erroe page */
.erroe_page .container{
    text-align: center;
}


.erroe_page .container h2{
    font-size: 200px;
    margin: 70px 70px 0 70px;
}


.erroe_page .container p{
    padding-bottom: 20px;
}


.erroe_page .container div{
    text-align: center;
}

@media (max-width:576px){

    .erroe_page .container h2{
        font-size: 70px;
        margin: 60px 60px 0 70px;
    }
}
.capture-consent{
    display: inline !important;
}


.selfie-cam-div{
    width: 50%;
    padding: 0 15px;
    margin-top: 15px;
}
.panel {
    padding-bottom: 10px;
}

#cam {
    border: 1px;
    border-color: black;
    border-style: solid;
    width: 100%;
}

#photo {
    border: 1px;
    border-color: black;
    border-style: dashed;
    width: 100%;
}
.selfie-cam-div .form-input{
    width: 100% !important;
    padding: 0 !important;
    margin-top: 10px
}
#upload_document{
    width: 100%;
}

@media(max-width:576px){
    .selfie-cam-div{
        width:100%;
    }
    .other_document_div .upload-photo-action_4{
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .selfie-cam-div .panel .btn{
        width: 100%;
        margin-bottom: 10px;
    }
    .upload-select-field{
        width: 100%;
    }
}

#switchFrontBtn:hover {
    background-color: #0E4126;
    border: 1px solid #0E4126;
    color: #fff;
}
#snapBtn:hover {
    background-color: #0E4126;
    border: 1px solid #0E4126;
    color: #fff;
}
